<div class="splash-container" style="">
  <img src="/splash.jpg" class="img-responsive center-block">

  <div class="call-to-action center-block">
    <div class="text-center">
      Sign the petition to support the rights of people with disabilities.
    </div>

    <div class="btn-container text-center">
      <div class="btn btn-primary" onclick="javascript:$('html, body').animate({ scrollTop: $('#sign').offset().top }, 1500);">
        <i class="fa fa-wheelchair"></i> Sign It
      </div>
    </div>
  </div>
</div>
<div class="splash-text">
  <div class="title">
    <span>how can you travel</span><br>
    <span>across the country,</span><br>
    <span>when a staircase</span><br>
    <span>has become</span><br>
    <span>a mountain?</span><br>
  </div>

</div>
<div class="main-contents center-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1> <i class="fa fa-building-o"></i> </h1>
        <h1> The Parliamentary Act of October 23, 2013 </h1>
        <h3> (Dz. U. Pos. 1446 and 2014 pos. 486) </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <blockquote>
          We petition for a specific correction of the Act because the current law is unjust to those most in need
          <p class="text-primary">
            <i class="fa fa-heart"></i>
          </p>
        </blockquote>
      </div>
      <div class="col-md-8">
        <P>
        The Act in question refers to the obligation to apply for a new parking card from July 1st 2015 for people with disabilities. The principle of this law is noble and necessary. However, as currently written, the provision requires the person with disabilities to submit a proposal for a new parking card in person at his or her place of permanent residence.
        </P>

        <p>
        The writers of this law did not recognize that this provision is simply not realistic for a great many persons
        with disabilities. <span class="text-secondary"> Those with significantly limited mobility, especially those
        staying under the care of family or a third party in a place other than their permanent residence, are unable
        to meet the burden of applying for a parking card in their place of permanent residence.</span>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h1> <i class="fa fa-wheelchair"></i> </h1>
        <h1> An Undue Burden </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <p>
        Administrative requirement that the person with strongly reduced mobility endure a long journey, sometimes
        on the other end of Poland, only to personally apply for a disabled parking card is not practical or just.
        While this law was surely written to protect people with disabilities, we believe it does harm unto them.
        </p>

        <p class="text-secondary">
        We believe the result will be that people with disabilities will have less access to the parking cards they
        need, not more.
        </p>
      </div>

      <div class="col-md-4">
        <blockquote class="blockquote-reverse">
          Thank you for your support for the rights of people with disabilities
          <p class="text-primary">
            <i class="fa fa-heart"></i>
          </p>
        </blockquote>
      </div>
    </div>

    <div id="sign" class="row action-row">
      <div class="col-md-12 text-center">
        <h1> <i class="fa fa-pencil-square-o"></i> </h1>
        <h1> Sign the Petition!</h1>
      </div>
    </div>

    <div class="row action-row">
      <div class="col-md-4">
          <p>Help us in publicizing this critical cause! Please turn to family members, friends, and coworkers to support this petition.</p>

          <p>Share on Facebook and Twitter</p>
      </div>
      <div class="col-md-8">
        <p>
          Download the PDF and send a signed petition to our address:
          <blockquote>
            Halina and Stanisław Łopuch<br>
            ul. Biwakowa 10 <br>
            52-244 Wroclaw <br>
          </blockquote>
        </p>
        <p>
          When we receive our first hundred signatures, we will collectively send the petitions to the Office of the President to represent the collective weight of this group.
        </p>

        <p>
          Alternatively, send a signed, printed petition directly to the President:
          <blockquote>
            Kacelaria President of the Republic<br>
            ul. Rural 10 00-902 Warsaw
          </blockquote>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <p style="margin-top: 100px; margin-bottom: 80px;">
          Thank you in advance for your understanding and your contribution to this movement.
        </p>
        <p class="text-muted">
          Image by <a href="https://www.flickr.com/photos/magdalenaroeseler/14794881647">Magdalena Roeseler</a> (c) CC BY 2.0.  Site made with <i class="fa fa-heart text-primary"></i> for Bozena by family.
        </p>
      </div>
    </div>


  </div>
</div>