@import "../less/variables.less";
@import "../less/bootstrap-3.3.4/bootstrap.less";

.splash-container {
  background-color: #292929;

  > div.call-to-action {
    max-width: 640px;
    padding: 10px;
    background-color: #333;

    > .btn-container {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}

.splash-text {
  position: absolute;
  top: 20px;
  right: 20px;

  > div.title {
    > span {
      padding: 3px;
      font-size: @font-size-h2;
      color: @brand-secondary;
      background-color: rgba(0,0,0,0.7);
      margin-bottom: 0.5em;
    }
  }

}

.main-contents {
  max-width: 640px;

  background-color: #352818;

  .row.action-row {
    background-color: #31323C;
    color: #FFF;
  }
}

p.larger-text {
  font-size: @font-size-large;
}

.bq-header-i {
  margin-left: -10px;
  margin-top: -18px;
  font-size: @font-size-h3;
}

.text-muted {
  font-size: 10px;
}

@victory-green: #62BB17;

.victory-banner {
  margin-left: -10px;
  margin-right: -10px;
  background-color: @victory-green;
  color: white;
  padding: 10px;
  padding-top: 1px;

  .i {
    font-size: @font-size-large;
  }
}
.victory-date {
  color: white;
}
.victory-sign {
  padding: 15px;
  padding-top: 5px;
  background-color: @victory-green;
  margin-top: 40px;
}
